<%= form_for @hos_admin, url: user_hos_admin_path(@hos_admin.user_id), html: { class: 'form-horizontal bordered-row' } do |f| %>
  <% if @hos_admin.errors.any? %>
    <div class="alert alert-close alert-danger">
      <%= link_to '', '#', title: 'Close', class: 'glyph-icon alert-close-btn icon-remove' %>
      <div class="bg-red alert-icon">
        <i class="glyph-icon icon-times"></i>
      </div>
      <div class="alert-content">
        <h4 class="alert-title">Oops! The following errors occured:</h4>
        <ul>
          <% @hos_admin.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  <% if is_web_admin? %>
    <div class="form-group">
      <%= f.label :hospital_id, class: 'col-sm-3 control-label' %>
      <div class="col-sm-6">
        <%= f.select :hospital_id, options_from_collection_for_select(@hospitals, 'id', 'name', @hos_admin.hospital_id), {}, { class: 'form-control' } %>
      </div>
    </div>
  <% end %>
  <div class="form-group">
    <div class="col-sm-6 col-sm-offset-3">
      <%= f.submit 'Save', class: 'btn btn-primary btn-block' %>
    </div>
  </div>
<% end %>
