<% content_for :title do %>
  <title>Login | Dokterku</title>
<% end %>

<style>
  html,body {
    height: 100%;
    background: #fff;
    overflow: hidden;
  }
</style>
<script>
  wow = new WOW({
      animateClass: 'animated',
      offset: 100
  });
  wow.init();
</script>

<img src="<%= asset_path('blurred-bg-3.jpg') %>" class="login-img wow fadeIn" alt="">

<div class="center-vertical">
    <div class="center-content row">

        <div class="col-md-3 center-margin">

            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <div class="content-box wow bounceInDown modal-content">
                    <h3 class="content-box-header content-box-header-alt bg-default">
                        <span class="icon-separator">
                            <i class="glyph-icon icon-cog"></i>
                        </span>
                        <span class="header-wrapper">
                            Sign In
                            <small>Login to your account.</small>
                        </span>
                        <span class="header-buttons">
                          <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-sm btn-primary' %>
                        </span>
                    </h3>
                    <div class="content-box-wrapper">
                        <div class="form-group">
                            <div class="input-group">
                                <%= f.email_field :email, class: 'form-control', id: 'exampleInputEmail1', placeholder: 'Enter email', autofocus: true %>
                                <span class="input-group-addon bg-blue">
                                    <i class="glyph-icon icon-envelope-o"></i>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <%= f.password_field :password, class: 'form-control', id: 'exampleInputPassword1', placeholder: 'Password', autocomplete: 'off' %>
                                <span class="input-group-addon bg-blue">
                                    <i class="glyph-icon icon-unlock-alt"></i>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <%= f.check_box :remember_me %>&nbsp;
                            <%= f.label :remember_me %>
                        </div>
                        <%= f.submit 'Sign In', class: 'btn btn-success btn-block' %>
                    </div>
                </div>
            <% end %>
        </div>

    </div>
</div>
